.nav-style li {
    margin: 0 20px;
}
.nav-style li a {
    font-weight: 600;
}
.nav-style li:hover{
    background-color: gray;
    border-radius: 5px;
}
.nav-link.active {
    background-color: gray !important;
    border-radius: 3px;
}
.navbar-style {
    height: 42px;
}